body {
    font-family: 'PT Sans', sans-serif;
    background-color: #FBE4FF;
    margin: 0 auto;
  }
  ul, p {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .set-max-width {
    max-width: 1320px;
    margin: 0 auto;
  }
  header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #243B93;
  }
  
  .nav-menu-container {
    height: 65px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    width: 140px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .nav-menu-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-menu-link {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .16em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 170px;
    height: 65px;
    cursor: pointer;
  }
  
  .nav-menu-link:hover {
    background-color: #344fbb;
    transition: all .3s;
  }
  
  .nav-menu-container svg {
    display: flex;
    align-self: center;
  }
  
  /* MAIN */
  .headline-container {
    height: 85px;
    box-sizing: border-box;
    padding-top: 17px;
  }
  
  .headline {
    font-weight: normal;
    font-style: italic;
    font-size: 44px;
  }
  
  .bg-blue {
    background-color: #BFF0FF;
  }
  
  .drop-list {
    background-color: #ffffff;
    height: 57px;
    margin: 30px auto;
    position: relative;
  }
  
  .drop-list::after {
    position: absolute;
    content: url(../img/triangle.svg);
    bottom: 12px;
    right: 18px;
  }
  
  .drop-list p {
    font-size: 28px;
    line-height: 57px;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    margin-bottom: 40px;
  }
  
  .card {
    background: linear-gradient(to right, #ADCBD4, #00AEE5);
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 30px;
    padding: 20px 52px;
    position: relative;
  }
  
  .card:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 0px #2CBDEB;
  }
  
  .card-img {
    width: 447px;
    height: 246px;
    object-fit: cover;
    object-position: 100% 90%;
    align-self:flex-end;
  }
  
  .card-body {
    width: 740px;
  }
  
  .card-title {
    font-style: italic;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
    border-bottom: 3px solid #ffffff;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .card-text-container {
    background-color: #EDFBFF;
  }
  
  .card-text {
    margin: 0;
    font-size: 22px;
    color: #202846;
    max-width: 605px;
    height: 205px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 16px;
  }
  
  .card svg {
    position: absolute;
    top: 6px;
    right: 10px;
  }
  
  .card:hover svg path {
    fill: #FFF500;
    transition: ease-in .1s;
  }
  
  .btn-primary {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    line-height: 46px;
    display: inline-block;
    width: 210px;
    background-color: #243B93;
    border-radius: 50px;
    position: absolute;
    right: -33px;
    bottom: 10px;
  }
  
  .card:hover .btn-primary {
    background-color: #EF075B;
    transition: all .05s;
  }
  
  .bg-gradient {
    background: linear-gradient(to right, #FFE601, #55D6FF);
  }
  
  .profile-section-container {
    background: linear-gradient(to bottom, #859EFF, rgba(105, 255, 210, 0.5));
    display: flex;
    margin-top: 36px;
  }
  
  .user-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 77px 168px 77px;
  }
  
  .user-avatar-container img {
    border-radius: 50%;
  }
  
  .btn {
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
    width: 250px;
    border: none;
    border-radius: 30px;
    padding: 9px 38px;
    cursor: pointer;
  }
  
  .change-avatar-btn {
    background-color: #243B93;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  .change-avatar-btn:hover {
    background-color: #3e57bb;
    transition: all .1s;
  }
  
  .settings-btn {
    background-color: #EF075B;
  }
  
  .settings-btn:hover {
    background-color: #ff5794;
    transition: all .1s;
  }
  
  .user-info-container {
    margin-top: 46px;
  }
  
  .user-info-container p {
    font-style: italic;
    font-size: 36px;
    line-height: 70px;
    color: #353C57;
    width: 712px;
    height: 80px;
    margin: 0;
  }
  
  .user-info-container p.set-border-bottom {
    border-bottom: 3px solid #ffffff;
  }
  
  .bg-gradient-reverse {
    background: linear-gradient(to left, #FFE601, #55D6FF);
  }
  
  .logout-btn {
    display: block;
    background-color: #243B93;
    width: 174px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 56px;
  }
  
  .logout-btn:hover {
    background-color: #3e57bb;
    transition: all .1s;
  }
  
  .contacts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .contacts-container p {
    font-size: 30px;
    line-height: 41px;
  }
  
  .contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
  }
  
  .phone-number-container p:first-child {
    border-bottom: 3px solid #202846;
    width: 244px;
  }
  
  .email-container p:first-child {
    border-bottom: 3px solid #202846;
    width: 264px;
  }
  
  .office-address-container p:first-child {
    border-bottom: 3px solid #202846;
    width: 386px;
  }
  
  .map-container {
    width: 500px;
    height: 290px;
    border: 3px solid #243B93;
    border-radius: 40px;
    margin-bottom: 28px;
  }
  
  iframe {
    border-radius: 40px;
    padding: 0;
    margin: 0;
  }
  
  /* FOOTER */
  footer {
    background-color: #243B93;
  }
  
  .footer-container {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  
  .footer-container p {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .16em;
    color: #ffffff;
  }
  
  /* Button 'GO TO TOP' styles*/
  #toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 29px 39px;
    background-color: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    cursor: pointer;
  }
  
  #toTopBtn:hover {
    background-color: rgba(48, 12, 106, 0.4);
    transition: all .1s;
  }
  
